<!DOCTYPE html>
<html>
    <head>
        {% include "metadata.html" %}
    </head>
    <body>
    {% include "header.html" %}

    <div class="container-fluid page-header py-5 mb-5">
        {% for projects in projects %}
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Project</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page"><a class="text-white" href="/project">Projects</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page"><a class="text-white" href="/project_info/{{projects.id}}">{{projects.pname}}</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Make Payment</li>
                </ol>
            </nav>
        </div>
        {% endfor %}
    </div>

    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                {% for projects in projects %}
                <div class="col-lg-3 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-80 h-50 mt-3" src="{{projects.pimage.url}}" style="object-fit: cover;" alt="">
                    </div>
                </div>

                <div class="col-lg-3 py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="text-start">
                        <h1 class=" mb-4">{{projects.pname}}</h1>
                    </div>
                    <form method="POST" action="{% url 'initiate_payment' pid=projects.id %}">
                        {% csrf_token %}
                        <p>Price per unit: ₹<span id="price">{{projects.price}}</span></p>
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" value="1" min="1" oninput="updatePrice()">
                        <p id="quantity-message" style="color: red; display: none;">Minimum quantity should be 1</p>
                        <p>Total price: ₹<span id="total">{{projects.price}}</span></p>
                        <input type="hidden" id="total_price" name="total_price" value="{{projects.price}}">
                        <button type="submit" class="btn btn-primary">Pay</button>
                    </form>
                {% endfor %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        updatePrice();
                    });
                
                    function updatePrice() {
                        var price = parseFloat(document.getElementById('price').innerText);
                        var quantityInput = document.getElementById('quantity');
                        var quantity = parseInt(quantityInput.value);
                        var message = document.getElementById('quantity-message');
                
                        if (isNaN(quantity) || quantity < 1) {
                            message.style.display = 'block';
                            quantityInput.value = '';
                            document.getElementById('total').innerText = '0.00';
                            document.getElementById('total_price').value = '0.00';
                        } else {
                            message.style.display = 'none';
                            var total = price * quantity;
                            document.getElementById('total').innerText = total.toFixed(2);
                            document.getElementById('total_price').value = total.toFixed(2);
                        }}
                </script>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
    </body>
</html>