{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "metadata.html" %}
</head>
<body>
    {% include "header.html" %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        {% for projects in projects %}
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Project</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page"><a class="text-white" href="/project">Projects</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{projects.pname}}</li>
                </ol>
            </nav>
        </div>
        {% endfor %}
    </div>
    <!-- Page Header End -->

    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                {% for projects in projects %}
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-80 h-100" src="{{projects.pimage.url}}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    
                    <div class="p-lg-5 pe-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4">{{projects.pname}}</h1>
                        </div>
                        <p class="mb-4 pb-2">{{projects.pdesc}}</p>

                        <h1 class="display-10">Project Requirments</h1>
                        <table class="custom-table">
                            <tr>
                                <th>Project Name</th>
                                <td>{{projects.pname}}</td>
                            </tr>
                            <tr>
                                <th>Language Used</th>
                                <td>{{projects.language}}</td>
                            </tr>
                            <tr>
                                <th>Framework</th>
                                <td>{{projects.framework}}</td>
                            </tr>
                            <tr>
                                <th>Database</th>
                                <td>{{projects.database}}</td>
                            </tr>
                            <tr>
                                <th>UserInterface</th>
                                <td>{{projects.userinterface}}</td>
                            </tr>
                            <tr>
                                <th>Web Browser</th>
                                <td>{{projects.webbrowser}}</td>
                            </tr>
                            <tr>
                                <th>IDE</th>
                                <td>{{projects.ide}}</td>
                            </tr>
                            
                        </table>

                            {% if projects.pfile %}
                                <a href="{% url 'project_folder' projects.id %}">Download Folder</a>
                            {% else %}
                                No Folder Available
                            {% endif %}

                        {% endfor %}
                </div>
            </div>

                {% for images in project_images %}
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-80 h-100" src="{{images.image.url}}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% include "footer.html" %}
</body>
</html>